{{ define "main" }}
<main class="main list" role="main">
	{{- with .Title }}
	<header class="main__header">
		<h1 class="main__title">{{ . }}</h1>
	</header>
	{{- end }}
	{{- if .Site.Params.belowTitlePartial }}{{ partial .Site.Params.belowTitlePartial . }}{{ end }}
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}
	{{- if .Params.pageFeed | default true -}}
		{{- if .Params.reverseOrder }}
			{{- range .Paginator.Pages.Reverse }}		
				{{- .Render "summary" }}
			{{- end }}
		{{- else }}
			{{- range .Paginator.Pages }}
				{{- .Render "summary" }}
			{{- end }}
		{{- end }}
	{{- end }}
</main>
{{- if .Params.pageFeed -}}
	{{ partial "pagination.html" . }}
{{- end }}
{{ end }}
